CONFIG_SERVER_URL=http://localhost:8888
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/
CONFIG_GIT_URI=https://github.com/your-account/Cloud-Health-Project-Platform-Config-Repository.git
CONFIG_GIT_BRANCH=main
HEALTHCARE_LOG_DIR=/var/log/cloud-health
